[Unit]
Description=D-Bus Controller for USB Gadgets in Linux

[Install]
WantedBy=default.target

[Service]
Environment=PYTHONUNBUFFERED=true
Type=dbus
BusName=de.beaerlin.GadgetController
ExecStart=/usr/bin/gadgetcontroller-service.py
